#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>  // ADD THIS

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Matrix positions 0-19
                &kp A &kp B &kp C &kp D &kp E
                &kp F &kp G &kp H &kp I &kp J
                &kp K &kp L &kp M &kp N &kp O
                &kp P &kp Q &kp R &kp S &rgb_ug RGB_TOG  // RGB toggle on position 19
                // Encoder button position 20
                &kp SPACE
            >;
            
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};