#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors { // Updated in commit f58f545 for volume encoder
        encoder_volume: encoder_volume {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_DN>, <&kp C_VOL_UP>;
        };

        bt_pair_hold: bt_pair_hold {
            compatible = "zmk,behavior-bt-hold";
            #binding-cells = <0>;
            hold-ms = <5000>;
            profile = <0>;
        };

        rgb_brightness_cycle: rgb_brightness_cycle {
            compatible = "zmk,behavior-rgb-cycle";
            #binding-cells = <0>;
            mode = "brightness";
        };

        rgb_speed_cycle: rgb_speed_cycle {
            compatible = "zmk,behavior-rgb-cycle";
            #binding-cells = <0>;
            mode = "speed";
        };
    };

    combos {
        compatible = "zmk,combos";

        pair_combo: pair_combo {
            timeout-ms = <500>;
            slow-release;
            key-positions = <0 5 10 15 16>; // 1, 6, Q, Y, U chord
            bindings = <&bt_pair_hold>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp KP_N0 &kp KP_N1 &kp KP_N4 &kp KP_N7 &rgb_brightness_cycle
                &kp KP_DOT &kp KP_N2 &kp KP_N5 &kp KP_N8 &rgb_ug RGB_HUI
                &kp KP_ENTER &kp KP_N3 &kp KP_N6 &kp KP_N9 &rgb_speed_cycle
                &rgb_ug RGB_EFF &rgb_ug RGB_EFR
                &kp ENTER
            >;
            sensor-bindings = <&encoder_volume>;
        };
    };
};
