#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/behaviors {
    inc_hue: inc_hue {
        compatible = "zmk,behavior-rgb-hue";
        label = "INC_HUE";
        #binding-cells = <0>;
        increment;
    };

    dec_hue: dec_hue {
        compatible = "zmk,behavior-rgb-hue";
        label = "DEC_HUE";
        #binding-cells = <0>;
        decrement;
    };

    inc_bri: inc_bri {
        compatible = "zmk,behavior-rgb-bri";
        label = "INC_BRI";
        #binding-cells = <0>;
        increment;
    };

    dec_bri: dec_bri {
        compatible = "zmk,behavior-rgb-bri";
        label = "DEC_BRI";
        #binding-cells = <0>;
        decrement;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                // Row 1 (positions 0-4)
                &kp A &kp B &kp C &kp D &kp E
                // Row 2 (positions 5-9)
                &kp F &ug_next &kp H &ug_spd &kp ESC
                // Row 3 (positions 10-14)
                &kp K &kp L &kp M &kp N &kp O
                // Row 4 (positions 15-16) - only 2 switches!
                &ug_tog &ug_val
                // Encoder button (position 17 via composite kscan)
                &kp SPACE
            >;

            sensor-bindings = <&inc_bri &dec_bri>;
        };
    };
};